
@{
    ViewBag.Title = "ImageTest";
}

<h2>ImageTest</h2>

<form id="imageUploadTest">
    <input id="imageUploadFile" type="file" accept=".png,.jpg,.jpeg" name="Image"/>
    <button type="submit">Submit</button>
</form>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#imageUploadTest').on('submit',
                function(event) {
                    event.stopPropagation();
                    event.preventDefault();
                    var sendData = new FormData();
                    sendData.append('Image', $('#imageUploadFile').get(0).files[0]);
                    $.ajax({
                        type: 'POST',
                        url: '/api/test/images/0',
                        contentType: false,
                        processData: false,
                        data: sendData,
                        success: function() {
                            alert('I think it worked');
                        },
                        error: function(jqXHR) {
                            alert('Darn. Here: ' + jqXHR.responseText);
                        }
                    });
                });
        });
        
    </script>
}