
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    <div class="carousel slide" id="bigBanner">
        <div class="carousel-inner" id="bigDisplay">
            <div class="carousel-item active">hi</div>
            <div class="carousel-item">there</div>
        </div>
    </div>
    
</div>